.gridItem {
    padding: 20px;
    transition: all 0.3s ease;
}

.productContainer {
    border: 1px #e4e4e4 solid;
    height: 300px;
    overflow: hidden;
}

.imageContainer {
    display: flex;
    justify-content: center;
}

.image {
    width: 200px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.gridItem img {
    max-width: 100%; /* Ensure images don't exceed their container width */
    height: auto; /* Maintain aspect ratio for images */
}

.AddButtonDiv{
    display: flex;
    flex-direction: column;
}

.AddButton {
    padding: 8px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
    margin-top: 5px;
}

.ProductTitle {

    color: black;
    font-weight: 800;

}

@media (max-width: 800px) {
    .gridItem {
        font-size: 10px;
        height: 19rem;
    }
}

@media (max-width: 920px) {
    .gridItem {
        font-size: 12px;
        height: 22rem;
        
    }
}