.gridContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-width: 90%;
    margin: auto;
    margin-top: 2rem;
}

@media (max-width: 768px) {
    .gridContainer {
        grid-template-columns: repeat(2, 1fr);
    }

    .gridItem {
        font-size: 14px;
        height: 18rem;
    }
}