
.navbar {
    padding: 10px;
    font-family: cursive ;
    min-height: 5rem;
}

.linkStyle {
    text-decoration: none;
    color: inherit;
}

.center {
    letter-spacing: 2.5px;
    font-size: 2.2rem;
    font-weight: bolder;
}

.left {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.right {
    display: flex; 
    position: relative; 
    cursor: pointer; 
    
}

.cartIcon {
    font-size: 1.5rem;
    line-height: 2rem;
    cursor: pointer;
    text-decoration: none;
}

.menuIcon {
    font-size: 1.5rem;
    line-height: 2rem;
    cursor: pointer;
}

.cartAmount {
    position: absolute; 
    display: flex;
    right: -0.5rem; 
    bottom: -0.5rem; 
    justify-content: center; 
    align-items: center; 
    border-radius: 9999px; 
    color: #ffffff; 
    background-color: #EF4444; 
    width: 18px;
    height: 18px;
}

.headerContainer {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    height: 100%; 
}