.Sidebar {
    position: fixed; 
    top: 0; 
    z-index: 20; 
    width: 100%; 
    height: 100%; 
    background-color: #ffffff; 
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms; 
    transition-duration: 300ms; 
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25); 


    @media (min-width: 768px) { 
    width: 20vw;
    }
    @media (min-width: 1024px) { 
    }
    @media (min-width: 1280px) { 
    max-width: 30vw;
    }



}

.sidebarTop {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    border-bottom: 1px solid black;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.sidebarTitle {
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    margin-left: 3rem;
}

.sidebarIcon {
    font-size: 1.5rem;
    line-height: 2rem;
    cursor: pointer;
}

.navItem {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    border-bottom: 1px solid black;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;

}

.navItemIcon {
    cursor: pointer;
}